In [ ]:
# Enhancement of slicing concept

In [ ]:
# Req: I want to get the even numbers from 1-30 by using concept of list data type

In [ ]:
# Range Method

In [ ]:
# General syntax of a range --> range(startvalue,stopvalue,stepcount)

In [1]:
even_num = list(range(2,30,2))

In [2]:
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [5]:
odd_num = list(range(3,30,2))

In [6]:
print(odd_num)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [7]:
type(even_num)

list

In [8]:
type(odd_num)

list

In [9]:
students = ['ysmeen','vivek','yashwant','pratik','pavan','meghana','rizwan','suyog']

In [10]:
print(students)

['ysmeen', 'vivek', 'yashwant', 'pratik', 'pavan', 'meghana', 'rizwan', 'suyog']

In [ ]:
# Req: i want to get 2 people in a list:

In [12]:
print(students[0:2])

['ysmeen', 'vivek']

In [ ]:
# Req: i want to get alternative names in the list. # Step count

In [13]:
print(students[0:7:2])

['ysmeen', 'yashwant', 'pavan', 'rizwan']

In [14]:
print(students[0:7:3])

['ysmeen', 'pratik', 'rizwan']

In [ ]:
#** Positive Indexing starting from 0,1,2....

In [ ]:
# Introduction to Negative Indexing

In [ ]:
# -ve Indexing starting from -1,-2,-3.....

In [16]:
print(students[-1])

suyog

In [17]:
print(students[-2])

rizwan

In [ ]:
#*** FAQ in Interview

In [18]:
print(students)

['ysmeen', 'vivek', 'yashwant', 'pratik', 'pavan', 'meghana', 'rizwan', 'suyog']

In [ ]:
# Req How do you print the above list in a reverse order by using the concept of Indexing

In [19]:
print(students[::-1]) # Indexes

['suyog', 'rizwan', 'meghana', 'pavan', 'pratik', 'yashwant', 'vivek', 'ysmeen']

In [21]:
print(students[0:-1])

['ysmeen', 'vivek', 'yashwant', 'pratik', 'pavan', 'meghana', 'rizwan']